In [ ]:
# sets is a mutable data type
# it is Represted by {}
# sets can accept any Data type
# set is inordered pair
# set can not Accepted Duplicates Values

In [1]:
x={10,450,70,100}  # save in memory
print(x)            # calling the Function
print(type(x))       #  what type of Datatype

{450, 10, 100, 70}
<class 'set'>

In [2]:
a={155,143.45,'satish'}  # sets is unorderd pair
print(a)
print(type(a))

{'satish', 155, 143.45}
<class 'set'>

In [3]:
int={1,3,5,7,9,11,13,2,3,5,7} # sets can not Accepted Duplicates Values
print(int)

{1, 2, 3, 5, 7, 9, 11, 13}

In [5]:
names={'sai','kiran','sandeep','sai',12,15,17,235.67}
print(names)

{'kiran', 17, 'sai', 235.67, 12, 'sandeep', 15}

In [6]:
# add function is used to only single Value

a={155,143.45,'satish',1,4,7}
a.add(12) 
print(a)

{1, 'satish', 4, 7, 155, 12, 143.45}

In [7]:
b={10,30,50,70,20,235.67,'hari'}
print(b)
print(type(b))

{50, 20, 70, 10, 235.67, 30, 'hari'}
<class 'set'>

In [8]:
# update function is used to Multiple values 

b={10,30,50,70,20,235.67,'hari'}
b.update([1,4,7,10])
print(b)

{1, 4, 70, 7, 10, 'hari', 20, 30, 235.67, 50}

In [12]:
P={10,20,30,40,50,70,90,100}
P.update(['sai','satish','kiran'])
print(P)

{100, 70, 40, 10, 'satish', 50, 'kiran', 20, 90, 'sai', 30}

In [13]:
# pop function is used to Randomlly it will Remove

P={10,20,30,40,50,70,90,100}
P.pop()   # randomally it will Remove the Value
print(P)

{70, 40, 10, 50, 20, 90, 30}

In [14]:
Q={1,3,5,7,9,10,235.67,'Tech'}
Q.pop()
print(Q)

{3, 5, 'Tech', 7, 9, 10, 235.67}

In [15]:
R={10,30,50,70,100}
R.remove(50)
print(R)

{100, 70, 10, 30}

In [16]:
R={10,30,50,70,100}
R.remove(150)
print(R)

KeyError: 150

In [17]:
# copy function is used to one Varible to other Varible

Q={1,3,5,7,9,10,235.67,235,'hai'}
P=Q.copy()

print(Q)
print(P)

{1, 'hai', 3, 5, 7, 9, 10, 235.67, 235}
{1, 'hai', 3, 5, 7, 9, 10, 235.67, 235}

In [18]:
# clear

Q={1,3,5,7,9,10,235.67,235,'hai'}
Q.clear()
print(Q)

set()

In [20]:
# union function is used to No Duplicates values

a={1,2,3,4,5,6,7,8,9,10}
b={11,3,6,12,15,17}

print(a.union(b))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 15, 17}

In [22]:
# intersection function is used to Common Values
a={1,2,3,4,5,6,7,8,9,10}
b={11,3,6,12,15,17}

print(a.intersection(b))

{3, 6}